.column {
    width: 85px;
    height: 85px;
    margin: 0px;
    border: 7px rgb(31, 47, 227) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    
}

.row {
    width: 595px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width:60%
}

.marker {
    width: 50%;
    height: 50%;
}

#winner-display {
    display: none;
    background-color: rgb(0, 0, 0);
    color: yellow;
}

body {
    color: yellow;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: "Silkscreen", monospace;
}

#reset-button{
    margin-top: 10px;
}

#player1output {
    float: left;
    width: 222px;
    justify-content: center;
    margin-top: 160px;
    font-size: x-large;
    height: 100%;
    width: 20%;
    margin-bottom: 400px;
}
#player2output {
    float: right;
    width: 222px;
    justify-content: center;
    margin-top: 160px;
    font-size: x-large;
    height: 100%;
    width: 20%;
    margin-bottom: 400px;
}
#namesInput {
    margin-bottom: 0px
}

#grid {
    margin-top: 10px
}
#sc1 {
    margin-top: 60px
}
#sc2 {
    margin-top: 60px
}
